**/__pycache__/
**/.env

.vscode
.pytest_cache/

*.json
*.ipynb

**/.coverage
app/data/data_images/*
!app/data/data_images/.gitkeep 

app/data/data_price/*
!app/data/data_price/.gitkeep 

app/data/images/*
!app/data/images/.gitkeep 

app/data/results_images/*
!app/data/results_images/.gitkeep 

app/data/results_price/*
!app/data/results_price/.gitkeep 

app/data/target_images/*
!app/data/target_images/.gitkeep 

app/utils/__pycache__/
app/routes/__pycache__/
app/__pycache__
tests/__pycache__/


